.contact {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    color: var(--color-green);
    min-height: calc(100vh - 80px);
}

.contact-text {
    color: var(--color-white);
    font-size: 45px;
    font-weight: 700;
}

.contact-data {
    display: flex;
    justify-content: center;
    color: var(--color-white);
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1250px) {}

@media screen and (max-width: 840px) {
    .contact-text {
        font-size: 38px;
    }
    .contact-data{
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .contact h1{
        text-align: center;
    }
     .contact-text {
        font-size: 34px;
    }
    .contact-data{
        font-size: 21px;
    }
     
}