.blokRightViolet{
    background-color: var(--color-violet);
   height: calc(100% - (95px + 55px));
    margin-top: 95px;
}

@media screen and (max-width: 800px){
.blokRightViolet{
    display: none;
}
}