.header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  background: linear-gradient(var(--color-violet), rgba(98, 98, 98, 0));
  width: 100%;
  position: fixed;
  z-index: 998;
  /* top: auto; */

}

.header-menu-img-wrapper {
  display: none;
}

.header-nav {
  color: var(--color-white);
  font-size: 22px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 400;
}

.header-nav-a:hover {
  color: var(--color-green);
  font-weight: 700;
  transform: translateY(-3px);
}

.header-nav-a:active {
  color: var(--color-violet);
}

.header-ul {
  display: flex;
  list-style: none;
  gap: 44px;
}

.header-ul li {
  cursor: pointer;
  transition: color 0.3s;

}


a:hover {
  color: var(--color-site);
  font-weight: 700;
}

.header-ul a {
  color: var(--color-white);
  /* Цвет обычной ссылки */
  text-decoration: none;
}

.header-ul a.active {
  color: var(--color-green);
  /* Цвет активной ссылки */
  font-weight: bold;
}

.header-mobile-icons {
  margin-top: 50px;
  display: flex;
  gap: 35px;
}

.header-network {
  display: flex;
  gap: 25px;
  align-items: center;
}

.header-network img {
  width: 40px;
}

.header-mobile {
  position: fixed;
  inset: 0;
  min-height: 100vh;
  background: var(--color-violet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-mobile-close-img {
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  transition: scale 0.3c;
}

.header-mobile-close-img:hover {
  scale: 1.1;
}

.header-mobile-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  color: var(--color-white);
}

.header-mobile-icons img {
  cursor: pointer;
  transition: scale 0.3c;
}

.header-mobile-icons img:hover {
  scale: 1.1;
}

.heartbeat {
  animation: heartbeat 4s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 1400px) {
  .header-nav {
    font-size: 18px;
    gap: 19px;
  }

  .header-network {
    font-size: 18px;
    gap: 19px;
  }
}

@media screen and (max-width: 1250px) {


  .header-nav {
    font-size: 15px;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-network {
    gap: 15px;
    font-size: 14px;
  }

  .header-network img {
    width: 30px;
  }
}

@media screen and (max-width: 1100px) {

  .header {
    padding-left: 50px;
    padding-right: 50px;

  }

  .header-nav {
    font-size: 15px;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header-network {
    gap: 15px;
    font-size: 14px;
  }

  .header-network img {
    width: 30px;
  }
}
@media screen and (max-width: 840px) {

  .header {
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 20px;
  }
  }
@media screen and (max-width: 800px) {

  .header {
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 20px;

  }

  .header-nav {
    display: none;
  }

  .header-network {
    gap: 15px;
    font-size: 10px;
  }

  .header-mobile-icons img {
    width: 40px;
  }

  .header-menu-img-wrapper {
    display: inline-block;
  }

  .header-menu-img {
    width: 40px;
    cursor: pointer;
    transition: scale 0.3c;
  }

  .header-menu-img:hover {
    scale: 1.1;
  }

  .header-nav {
    display: none;
  }

  .header-network {
    display: none;
  }


}