.skill-site-window {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    gap: 35px;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 70px;
}

.skill-site-window-block {
    background-color: var(--color-site);
    border-radius: 25px;
    color: var(--color-white);
    padding: 25px;
    font-size: 20px;
    border: 2px solid var(--color-green);
}

.skill-site-window-btn {
    position: absolute;
    background-color: var(--color-green);
    border-radius: 27px;
    padding: 18px 77px;
    color: var(--color-site);
    box-shadow: 0 0 10px var(--color-white);
    transform: skew(0deg, 7deg);
    margin-top: 380px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skill-site-window-btn:hover {
    background-color: var(--color-violet);
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(130, 130, 130, 0.349);
    box-shadow: unset;
}

.span-color-green {
    color: var(--color-green);
}

@media screen and (max-width: 1600px) {
    .skill-site-window-btn {
        margin-top: 314px;
        margin-left: 16px;
    }

    .skill-site-window-block {
        font-size: 18px;
    }
}

@media screen and (max-width: 1400px) {
    .skill-site-window {
        grid-template-columns: repeat(2, 464px);
    }

    .skill-site-window-block {
        font-size: 17px;
    }

    .skill-site-window-btn {
        margin-top: 335px;
    }
}

@media screen and (max-width: 1250px) {
    .skill-site-window {
        grid-template-columns: repeat(2, 423px);
    }

    .skill-site-window-block {
        font-size: 14px;
        padding: 23px;
    }

    .skill-site-window-btn {
       padding: 15px 56px;
        font-size: 15px;
        margin-top: 277px;
        margin-left: 5px;
    }
}



@media screen and (max-width: 800px) {
    .skill-site-window {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 20px;
        margin-top: 20px;
    }

    .skill-site-window-btn {
        padding: 15px 35px;
        font-size: 13px;
        margin-top: 719px;
    }
}